# Dependencies
node_modules/
/dist
/build

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example
env-backup.txt
.env*.local
.env*.copy

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# OS related
.DS_Store
Thumbs.db
.cache/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android specific
/android/app/build/
/android/build/
/android/.gradle/
/android/local.properties
/android/captures/
/android/*.iml
/android/app/*.iml
/android/.idea/
/android/app/google-services.json

# Capacitor specific
/android/app/src/main/assets/public/
/android/app/src/main/assets/capacitor.config.json
/android/app/src/main/assets/capacitor.plugins.json
